<div class="container-fluid">
    <div class="row">
        <div class="navbar navbar-inverse col-xl-12" id="nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="pull-left" href="/"><img id='logo' src="/img/logo.png"></a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class={{home_active}}><a href="/" class="zakladki">Home</a></li>
                        <li class="dropdown {{clients_active}}">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Clients
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/add/client">New client</a></li>
                                <li><a href="/list/client">List of clients</a></li>
                            </ul>
                        </li>
                        <li class="dropdown {{rooms_active}}">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Rooms
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/add/room">New room</a></li>
                                <li><a href="/list/room">List of rooms</a></li>
                            </ul>
                        </li>
                        <li class="dropdown {{reservations_active}}">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reservations
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/add/reservation">New reservation</a></li>
                                <li><a href="/list/reservation">List of reservations</a></li>
                            </ul>
                        </li>
                        <li class="dropdown {{services_active}}">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Services
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/add/service">New service</a></li>
                                <li><a href="/list/service">List of services</a></li>
                            </ul>
                        </li>
                        <li class="dropdown {{discounts_active}}">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Discounts
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/add/discount">New discount</a></li>
                                <li><a href="/list/discount">List of discounts</a></li>
                            </ul>
                        </li>
                        <li class="dropdown {{client_service_active}}">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Client&Service
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/add/client_service">New client&service</a></li>
                                <li><a href="/list/client_service">List of clients&services</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
        </div>
    </div>
</div>