<div class="container-fluid">
    <div class="row">
        <div class="navbar navbar-inverse col-xl-12" id="nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="pull-left" href="/"><img id='logo' src="/img/logo.png"></a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class={{home_active}}><a href="/" class="zakladki">Home <span class="sr-only">(current)</span></a></li>
                        <li class={{clientsList_active}}><a href="/clientsList" class="zakladki">List of clients</a></li>
                        <li class={{clientAdd_active}}><a href="/clientAdd" class="zakladki">Add client</a></li>
                        <li class={{roomsList_active}}><a href="/roomsList" class="zakladki">List of rooms</a></li>
                        <li class={{roomAdd_active}}><a href="/roomAdd" class="zakladki">Add room</a></li>
                        <li class={{servicesList_active}}><a href="/servicesList" class="zakladki">List of services</a></li>
                        <li class={{serviceAdd_active}}><a href="/serviceAdd" class="zakladki">Add service</a></li>
                        <li class={{reservationAdd_active}}><a href="/reservationAdd" class="zakladki">Add reservation</a></li>
                        <li class={{add_active}}><a href="/add" class="zakladki">Just Add</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
        </div>
    </div>
</div>