<div class="container-fluid">
    <div class="row">
        <div class="navbar navbar-inverse col-xl-12" id="nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="pull-left" href="/"><img id='logo' src="/img/logo.png"></a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class={{home_active}}><a href="/" class="zakladki">Home <span class="sr-only">(current)</span></a></li>
                        <li class={{clientList_active}}><a href="/clientList" class="zakladki">List of clients</a></li>
                        <li class={{file_active}}><a href="/file-upload" class="zakladki">File upload</a></li>
                        <li class={{about_active}}><a href="/about" class="zakladki">About</a></li>
                        <li class={{contact_active}}><a href="/contact" class="zakladki">contact</a></li>
                        <li class={{clientAdd_active}}><a href="/clientAdd" class="zakladki">Add client</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
        </div>
    </div>
</div>