{{>incorrectForm}}
<div class="page-header">
   <h1>List of Clients</h1>
</div>
{{#if clients}}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Last name</th>
                <th>PESEL</th>
                <th>City</th>
                <th>Post code</th>
                <th>Street</th>
                <th>Home</th>
                <th>Flat</th>
                <th>Email</th>
                <th>Birthday</th>
                <th>Phone</th>
                <th>Photo</th>
                <th>Create date</th>
            </tr>
        </thead>
        <tbody>
            {{#each clients}}
                <tr>
                    <th class="row">{{this.ID}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.lastName}}</td>
                    <td>{{this.pesel}}</td>
                    <td>{{this.city}}</td>
                    <td>{{this.postCode}}</td>
                    <td>{{this.street}}</td>
                    <td>{{this.home}}</td>
                    <td>{{this.flat}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.birthday}}</td>
                    <td>{{this.phone}}</td>
                    <td><img class="smallPhoto" src='img/photos/{{this.photo}}'/><div class="originalPhoto"><img src='img/photos/{{this.photo}}'/></div></td>
                    <td>{{this.created}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <h3>No clients are created</h3>
{{/if}}